<!DOCTYPE html>
<html  lang="en">
	<head>
    <meta charset="utf-8">
	</head>
	 <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

	<!-- BOOTSTRAP -->
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

	<style type="text/css">
		table {
		    width: 48%;
		    max-width: 100%;
		    margin-bottom: 20px;
		    text-align: center;
		 }
	</style>
	
	<body>
	<div class="container">	
		<div>
			<div class="jumbotron">
 		 <div class="container">
   		 	<h1>Batalla Naval</h1>
  		</div>
	</div>


	</div>	
		<% if session[:tablero].nil? %>
		<form class="form-inline" method="POST" action="crearTablero">
			<%= csrf_token_field %>
			 <div class="form-group">
			 	<div>
					<label for="exampleInputEmail3">Seleccione el tamaño del tablero</label>
				</div>
				<div>
					<label for="exampleInputEmail3">Ancho:</label>
					<input class="form-control" type="text" name="ancho" placeholder="Ancho"/>
					<label for="exampleInputEmail3">Alto:</label>
					<input type="text" name="alto" class="form-control" placeholder="Alto"/>
			 		<input class="btn btn-success" type="submit" value="enviar" id="crearTablero"/>
			 	</div>	
			</div>
		</form>
		<% end %>
	</div>


	<div align="center">
		<% if !session[:tablero].nil? %>
		<table border="1"  class="table table-striped">
			<% for i in 1..session[:alto].to_i %>
			<tr>
				<% for j in 1..session[:ancho].to_i %>
				<td>
					<label label for="exampleInputEmail3"><%= session[:tablero].mapa[i-1][j-1] %></label>
				</td>
				<% end %>
			</tr>
			<% end %>
		<% end %>
		</table>
	<div>

	
</html>